.rental-filter
  display: flex
  .rental-filter-btn
    border: solid 1px var(--color-border-shadow)
    border-radius: 8px
    padding: 2px 8px
    cursor: pointer
    background: var(--color-surface-primary)
    &.active
      background: var(--color-button-bg)
      color: var(--color-text-alternative)

