// src/components/table-action-menu/TableActionMenu.scss

.table-action-menu 
  position: relative
  display: inline-block

  &__dropdown 
    position: absolute
    top: 100% 
    right: 0
    width: max-content
    background: #fff
    border: 2px solid #e5e7eb
    border-radius: 10px
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12)
    overflow: hidden
    z-index: 999
  

  &__item 
    width: 100%
    border: none
    background: transparent
    display: flex
    align-items: center
    gap: 10px
    padding: 12px 16px
    text-align: left

  &__icon 
    display: flex
    align-items: center
    
  &__label 
    font-size: 1.2rem
  
