.my-modal
	display: flex
	align-items: center
	justify-content: center
	background: var(--color-backdrop)
	position: fixed
	top: 0
	left:0
	bottom: 0
	right: 0
	z-index: var(--z-index-overlay)
	padding: var(--spacing-lg)
	.my-modal-content
		position: relative
		background: var(--color-surface-primary)
		max-width: 100%
		max-height: 100%
		overflow: auto
		border-radius: var(--spacing-md)

		.my-modal-head
			position: sticky
			background: var(--color-surface-primary)
			top: 0
			padding: 8px 16px
			display: flex
			justify-content: space-between
			align-items: center
			box-shadow: 0 0 4px var(--color-border-shadow)
			z-index: 1
		.my-modal-body
			padding: var(--spacing-lg)
			padding-bottom: calc(var(--spacing-lg)*3)
			z-index: 0 // Keep positioned/z-indexed children within the body below the sticky modal header
		
