.my-button
    display: flex 
    align-items: center
    background: var(--color-button-bg)
    color: var(--color-text-light)
    border-radius: var(--spacing-sm)
    padding: var(--spacing-xs) calc(var(--spacing-md)*1.25)
    font-size: 1rem
    &.sm
        padding: calc(var(--spacing-sm)/2) var(--spacing-xs) 
        font-size: 0.85rem  
    &-icon
        margin-right: var(--spacing-sm)
        font-size: 1.125rem 


