.my-badge
    border: solid 1px gray 
    border-radius: 8px
    padding: var(--spacing-xs) calc(var(--spacing-md)*1.25) 
    &-success
        background: var(--color-status-success-bg)
    &-info
        background: var(--color-status-info-bg)
    &-warning
        background: var(--color-status-warning-bg)
    &-danger
        background: var(--color-status-danger-bg)
    