.book-title
    display: flex
    align-items: center
    padding: 8px 0
    font-weight: bold
    color: #252e3c
    .book-cover
        max-width: 40px
        padding-right: 10px
        box-shadow: 0 0 10 rgb(100,100,100)

.book-actions
    display: flex
    flex-direction: row
    justify-content: space-around
    align-items: center
    >*
        font-size: 21px
        &:not(:first-child)
            margin-left: 10px