// style tokens
    
//colors
$color-bg-app: #fbfafc

$color-surface-default: #ebecf0

$color-accent-primary: #2a5796


$color-border-subtle: #cacfd2



$button: #1a4d9c
$nav-bg: #1f3558
$app-bg: #ececf1
$colors:(
    "app-primary-surface":"white",
    "nav-bg": #1b305f,
    "nav-active": #23529a,
    "button-bg": #1a4d9c,
    "status-success": #276d20,
    "status-success-bg": #9de99d,
    "status-warning": #d1a51d,
    "status-warning-bg": #ffeaa0,
    "status-danger": #9d1c1d,
    "status-danger-bg": #f59494,
    "status-info": #2216a9,
    "status-info2": #ccc7ff,
    "text-primary": #252e3c,
    "text-muted": #818f91,
    "text-light": "white",
    "backdrop":#2e2e2e80
)

$spacing:(
    "xs": 2px,
    "sm": 4px,
    "md": 8px,
    "lg": 16px,
    "xl": 24px,
)