.top-bar
    display: flex
    align-items: center
    justify-content: space-between
    padding: var(--spacing-md) var(--spacing-lg)
    &-title
        font-weight: bold
        font-size: 1rem
        text-transform: uppercase