.app-layout
  border: 1px solid green
  background: var(--color-surface-alternative)


  .top-bar
    display: flex
    align-items: center
    justify-content: space-between
    padding: var(--spacing-sm) var(--spacing-lg)
    &-title
      font-weight: bold
      font-size: 1.2rem
      text-transform: uppercase
      